<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!--<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
  <base href="<%= htmlWebpackPlugin.options.baseUrl %>">
</head>
<body>
  <div class="container">
    <ui-view></ui-view>
  </div>
</body>
</html>