/*TYPOGRAPHY*/

h1 {
	color: #fff;
	font-family: $font-family-default;
	font-weight: 200;
	font-size: 40px;
}

h2 {
	color: #fff;
	font-family: $font-family-default;
	font-size: 24px;
	font-weight: 700;
}

p {
	color: #fff;
	font-family: $font-family-default;
	font-weight: 500;
	font-size: 16px;
}

strong {
	font-weight: 600;
}
