body {
	height: 100vh;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	background-color: #2b2d42;
	@include filter-gradient(#2b2d42,
	#edf2f4,
	horizontal);
	@include background-image(linear-gradient(to bottom right,
	#2b2d42 0%,
	#8d99ae 50%,
	#edf2f4 100%));
	section {
		padding: 80px 0;
		&.top {
			padding-bottom: 0;
			h1 {
				text-align: center;
			}
			p {
				text-align: center;
			}
		}
		&.main {
			padding-top: 40px;
			.content {
				background: rgba(0, 0, 0, .3);
				padding: 30px;
				.signup {
					h2 {
						margin-top: 0;
					}
				}
			}
			.ui-panel {
				background: darken($dk-gray, 5%);
				border-bottom: 1px solid $gray;
				padding: 10px;
				text-align: right;
				i {
					padding: 10px;
					font-size: 22px;
				}
			}
			.task-list {
				background: $dk-gray;
				.task {
					position: relative;
					&::before {
						content: "";
						display: block;
						height: 100%;
						position: absolute;
						right: 0;
						top: 0;
						width: 10px;
					}
					&.red {
						&::before {
							background: $red;
						}
					}
					&.orange {
						&::before {
							background: $orange;
						}
					}
					&.yellow {
						&::before {
							background: $yellow;
						}
					}
					&.blue {
						&::before {
							background: $blue;
						}
					}
					&.green {
						&::before {
							background: $green;
						}
					}
					&.purple {
						&::before {
							background: $purple;
						}
					}
					> div {
						display: table-cell;
						padding: 10px;
						&.check {
							background: darken($dk-gray, 5%);
							vertical-align: middle;
							padding: 10px 20px;
							.checkbox {
								margin: 0;
								label {
									padding: 0;
									&::before {
										border: none;
									}
									&::after {
										color: $green;
									}
								}
							}
						}
						&.info {
							overflow: hidden;
							cursor: pointer;
							.title {
								font-size: 24px;
								text-transform: uppercase;
								font-weight: 200;
								font-family: 'Raleway', sans-serif;
							}
							.desc {
								max-height: 0;
								transform: translate(0, 20px);
								@include transition(max-height 0.3s linear 0s,
								transform 0.3s linear 0s);
							}
							&:hover {
								.desc {
									max-height: 4em;
									transform: translate(0)
								}
							}
						}
					}
				}
			}
		}
	}
}
