<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/head %>
  </head>
  <body>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-sm-offset-3">
						<h1><%= title %></h1>
						<p>Welcome to the <%= title %></p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-sm-offset-3">
						<div class="content">
							<div class="signup">
								<form>
									<div class="form-group">
										<label for="exampleInputEmail1">Email address</label>
										<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">Password</label>
										<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
									</div>
									<button type="submit" class="btn">Submit</button>
								</form>
							</div>
							<div class="login">
								<h2>Login with:</h2>
								<div class="social">
									<button class="btn facebook"><i class icon-facebook></i> Facebook</button>
									<button class="btn twitter"><i class icon-twitter></i> Twitter</button>
									<button class="btn gplus"><i class icon-gplus></i> Google +</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
    <% include ./partials/footer %>
  </body>
</html>
