<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<% include ./partials/head %>
	</head>
	<body>
		<section class="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-sm-offset-3">
						<h1><%= title %></h1>
						<p>Welcome to the <%= title %></p>
					</div>
				</div>
			</div>
		</section>
		<section class="main">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-sm-offset-3">
						<div class="content">
							<div class="signup">
							<h2>Sign up:</h2>
								<form>
									<div class="form-group">
										<label for="email">Email address</label>
										<input type="email" class="form-control" id="email" placeholder="Email">
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" class="form-control" id="password" placeholder="Password">
									</div>
									<button type="submit" class="btn submit">Submit</button>
								</form>
							</div>
							<div class="login">
								<h2>Sign in:</h2>
								<div class="social">
									<button class="btn facebook"><i class="icon-facebook"></i> Facebook</button>
									<button class="btn twitter"><i class="icon-twitter"></i> Twitter</button>
									<button class="btn gplus"><i class="icon-google-plus"></i> Google +</button>
								</div>
							</div>
						</div>
						<div class="task-list">
							<div class="ui-panel">
								<i class="icon-plus"></i><i class="icon-gear"></i>
							</div>
							<div class="task red clearfix">
								<div class="check">
									<div class="checkbox checkbox-circle">
										<input type="checkbox">
										<label></label>
									</div>
								</div>
								<div class="info">
									<div class="title">
										Pick up Dry Cleaning
									</div>
									<div class="desc">
										Ticket #24, at Al's Drycleaning. Ticket #24, at Al's Drycleaning. Ticket #24, at Al's Drycleaning. Ticket #24, at Al's Drycleaning.
									</div>
								</div>
							</div>
							<div class="task orange clearfix">
								<div class="check">
									<div class="checkbox checkbox-circle">
										<input type="checkbox">
										<label></label>
									</div>
								</div>
								<div class="info">
									<div class="title">
										Pick up Dry Cleaning
									</div>
									<div class="desc">
										Ticket #24, at Al's Drycleaning.
									</div>
								</div>
							</div>
							<div class="task yellow clearfix">
								<div class="check">
									<div class="checkbox checkbox-circle">
										<input type="checkbox">
										<label></label>
									</div>
								</div>
								<div class="info">
									<div class="title">
										Pick up Dry Cleaning
									</div>
									<div class="desc">
										Ticket #24, at Al's Drycleaning.
									</div>
								</div>
							</div>
							<div class="task green clearfix">
								<div class="check">
									<div class="checkbox checkbox-circle">
										<input type="checkbox">
										<label></label>
									</div>
								</div>
								<div class="info">
									<div class="title">
										Pick up Dry Cleaning
									</div>
									<div class="desc">
										Ticket #24, at Al's Drycleaning.
									</div>
								</div>
							</div>
							<div class="task blue clearfix">
								<div class="check">
									<div class="checkbox checkbox-circle">
										<input type="checkbox">
										<label></label>
									</div>
								</div>
								<div class="info">
									<div class="title">
										Pick up Dry Cleaning
									</div>
									<div class="desc">
										Ticket #24, at Al's Drycleaning.
									</div>
								</div>
							</div>
							<div class="task purple clearfix">
								<div class="check">
									<div class="checkbox checkbox-circle">
										<input type="checkbox">
										<label></label>
									</div>
								</div>
								<div class="info">
									<div class="title">
										Pick up Dry Cleaning
									</div>
									<div class="desc">
										Ticket #24, at Al's Drycleaning.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<% include ./partials/footer %>
	</body>
</html>
