<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ./partials/head %>
  </head>
  <body>
		<section class="main">
			<div class="container">
				<h1><%= title %></h1>
				<p>Welcome to the <%= title %></p>
			</div>
		</section>
    <% include ./partials/footer %>
  </body>
</html>
