/*TYPOGRAPHY*/

@font-face {
	font-family: $font-family-icon;
	src: url('/assets/fonts/redbees.eot?16hffl');
	src: url('/assets/fonts/redbees.eot?16hffl#iefix') format('embedded-opentype'), url('/assets/fonts/redbees.ttf?16hffl') format('truetype'), url('/assets/fonts/redbees.woff?16hffl') format('woff'), url('/assets/fonts/redbees.svg?16hffl#redbees') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*="icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: $font-family-icon !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-reddit:before {
    content: "\f281";
}
.icon-github:before {
    content: "\f113";
}
.icon-plus:before {
    content: "\f067";
}
.icon-minus:before {
    content: "\f068";
}
.icon-star:before {
    content: "\f005";
}
.icon-check:before {
    content: "\f00c";
}
.icon-close:before {
    content: "\f00d";
}
.icon-gear:before {
    content: "\f013";
}
.icon-trash:before {
    content: "\f014";
}
.icon-home:before {
    content: "\f015";
}
.icon-refresh:before {
    content: "\f021";
}
.icon-lock:before {
    content: "\f023";
}
.icon-image:before {
    content: "\f03e";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-sort:before {
    content: "\f0dc";
}
.icon-mail:before {
    content: "\f0e0";
}

h1 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 40px;
}

h2 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
}

strong {
	font-weight: 600;
}
