/*COLORS*/

$red: #F44336;
$yellow:#ffee58;
$orange:#fb8c00;
$green: #009688;
$blue:#2196f3;
$purple:#673ab7;
$dk-gray:#2B2D42;
$gray:#8D99AE;
$lt-gray:#EDF2F4;

/*TYPOGRAPHY*/

$font-family-default: 'proxima-nova', sans-serif;

/*ICONS*/

$font-family-icon: 'redbees';
